<div class="cart shadow">
<div class="row container" *ngIf="!empty">
    <div class="col container items">
        <div class="row" *ngFor="let product of products">
            <div class="col-md-2 ml-auto"><img src="{{ product.image}}"></div>
            <div class="col-md-2 ml-auto">{{product.title}}</div>            
            <div class="col-md-2 ml-auto">                               
                <select class="form-select" [(ngModel)]="product.amount" (ngModelChange)="onChange($event, product.id)">
                    <option *ngFor="let num of num">
                        {{num}}
                    </option>                    
                </select>              
                
            </div>
            <div class="col-md-2 ml-auto">{{ product.price | currency }}</div>
            <div class="col-md-2 ml-auto">
                <fa-icon [icon]="faRemove" (click)="removeFromCart(product)" placement="top" ngbTooltip="Remove from cart"></fa-icon>
            </div>
            <hr>
        </div>
        <hr>
        <div class="col total" id="total">Total: {{ total | currency }}</div>
    </div>
    <div class="col">
        <form #form="ngForm" (ngSubmit)="submitOrder()">
            <div class="form-floating">
                <label for="inputName">Name</label>
                <input class="form-control" required minlength="3" name="name" placeholder="(minimum 3 characters)" [(ngModel)]="name">
            </div>
            <div class="form-group">
                <label for="inputAddress">Address</label>
                <input class="form-control" required minlength="6" name="address" placeholder="(minimum 6 characters)" [(ngModel)]="address">
            </div>
            <div class="form-group">
                <label for="inputCard">Credit Card Number</label>
                <input class="form-control" required minlength="16" name="creditcard" placeholder="(16-digit number)" [(ngModel)]="creditcard">
            </div>
            <div class="form-group">
                <input type="submit" [disabled]="form.invalid" value="Submit" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>
<div class="empty" *ngIf="empty">
    <strong>Shopping cart is empty!</strong><br>
    <a routerLink="/"><button class="btn btn-secondary"><- back to products</button></a>
</div>
</div>
