<ng-template #content let-modal>    
    <div class="modal-body">
      <strong>product added to cart</strong>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="modal.close('Close click')">Close</button>
    </div>
  </ng-template>

<div class="container row product-details shadow">    
    <div class="col">    
        <img src="{{ product.image }}">        
    </div>
    <div class="col description">
        <h3>{{product.title}}</h3>
        <p>{{ product.description }}</p>
        <div class="input-group">
            <select class="selectpicker" [(ngModel)]="optionAmount">
                <option *ngFor="let o of options">{{ o }}</option>
            </select>
            <button class="btn btn-secondary" (click)="addProductToCart(product, content)">
                <fa-icon [icon]="faCart"></fa-icon> add to cart
            </button>
        </div>
        <div class="backlink">     
            <a routerLink="/"><-back to products</a>        
        </div>       
    </div>
</div>






